.NavigationBar{
    height: 45px;
    width: 1960px;
    background-color: white;
    margin-top: -10px ;
    margin-left: 10px;
    margin-right: 0;
    font-family:Microsoft YaHei, sans-serif;
}

.NavigationBar img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;

}

.NavigationBar_left
{
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

.NavigationBar_left ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

.NavigationBar_left li{
    float: left;
}

.NavigationBar_left a:link,.NavigationBar_left a:visited {
    display:block;
    width:70px;
    font-weight:bold;
    color: rgba(191, 191, 193, 0.68);
    text-align:center;
    padding: 4px;
    text-decoration:none;
}

.NavigationBar_left a:hover{
    color: white;
    background-color: cornflowerblue;
}

.NavigationBar_left .highlight{
    border-bottom: rgba(24, 40, 82, 0.83);
    border-bottom-width: 5px;
    border-style: none none solid none;
}

.NavigationBar_right{
    position: absolute;
    right: 10px;
    margin-top: 10px;
}

.dropbtn {
    font-weight:bold;
    color: rgba(191, 191, 193, 0.68);
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #2a4e77;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: cornflowerblue;
    color: white;
}

.NavigationBar_right.highlight{
    padding-bottom: 8px;
    border-bottom: rgba(24, 40, 82, 0.83);
    border-bottom-width: 5px;
    border-style: none none solid none;
}