.upPart{
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 15px 12% 15px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
    border-style: outset none none none;
    border-color: rgba(59, 84, 112, 0.76);
    text-align: left;
}

.upPart .inside{
    padding-left: 15px;
}

.upPart input[type="text"],textarea{
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    width: 98%;
}

.upPart button{
    margin-left: 5px;
    margin-top: 2px;
    background-color: rgba(47, 60, 72, 0);
    color: rgba(59, 84, 112, 0.76);
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    outline: none;
}

.upPart button:hover{
    background-color: cornflowerblue;
    color: white;
}

.downPart{
    padding-bottom: 15px;
    margin: 15px 12% 50px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
    border-style: outset none none none;
    border-color: rgba(59, 84, 112, 0.76);
}

.downPart .inside{
    padding-left: 15px;
    padding-right: 15px;
}

.leftbox{
    float: left;
    width: 200px;
}
.leftbox img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.rightbox{
    margin-top: -15px;
    float: left;
    width: 75%;
    padding-left: 15px;
}

.rightbox p{
    color: rgba(2, 31, 56, 0.68);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.onegroup{
    padding-top: 5px;
    border-style: outset none none none;
    border-width: 1px;
    border-color: rgba(59, 84, 112, 0.1);
}

.clear{
    clear: both;
}

body{
    text-align: left;
}

.page{
    text-align: center;
}

.page button{
    background-color: rgba(47, 60, 72, 0);
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    color: #2a4e77;
}

.page .highlight{
    color: #022d53;
    font-weight: bold;
}